.header {
  /* padding: 20px 0; */
  display: flex;
  justify-content: space-between;
  /* border-bottom: 2px solid rgb(11, 159, 196); */
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: rgb(223, 241, 247) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  /* background-color: rgb(232, 240, 241); */
}
