.title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 160px;
  color: rgb(90, 143, 156);
}

.titleBox {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
