.item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 20px;
}

.number {
  margin-left: 8px;
}

.btn {
  margin-left: auto;
  margin-right: 30px;
}

.name::before {
  content: '\272F';
  color: rgb(11, 159, 196);
  margin-right: 6px;
}
